
/*自定义小标题*/
p.xgg-litle-title{font-size:12px;color: #999999}
/*标题*/
div.item-title{font-size: 18px;color: #333333}
/*小标题*/
div.item-subtitle{font-size: 14px;color: #666666}
div.card-content-inner{font-size:15px;color: #666666}
p.xgg-content{font-size:17px;color: #666666;letter-spacing: 1.5px}
img.userface{width: 50px; height: 50px; border-radius: 25px}